<!-- page-banner -->
<div class="page-banner page-banner-sm" style="background-image: url('/assets/img/map_brussels.jpg');min-height: 60vh;">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 mt-50">

				<div class="panel panel-default animated fadeInDown">
					<div class="panel-heading">{{ 'Schedule Your Free Pickup' | translate }}</div>
					<div class="panel-body">
						<label for="pickup-postalcode">{{ 'Enter your postal code' | translate }}</label>
						<div class="row mt-10">
							<div class="col-sm-6 col-sm-offset-3">
								<input class="form-control" id="pickup-postalcode" type="text" ng-model="pickup.formData.postalcode" name="postalcode" placeholder="{{ 'Postal Code' | translate}}">
							</div>
						</div>

						<div class="row mt-10" ng-cloak="" ng-show="pickup.postalErrors">
							<div class="col-sm-8 col-sm-offset-2">
								<div class="alert alert-warning" translate="{{ 'This area is not available' }}">

								</div>
							</div>
						</div>

						<button class="btn btn-primary mt-10" ng-click="pickup.goStep1()" ng-show="pickup.checkPostalcode()">{{ 'Submit' | translate }}</button>
					</div>
				</div>

			</div>
		</div>
	</div>
</div><!-- / page-banner -->


