.order-faq {
	margin: 50px 0 0;
	padding: 65px 0 0;
	border-top: 1px solid #b7b7b7;
}

.order-faq .title {
	margin: 0 0 48px;
	color: $text-color;
	font-size: 36px;
	font-weight: 300;
}

.order-faq .faq-title {
	margin: 0 0 14px;
	color: $text-color;
	font-weight: 500;
}

.order-faq .faq-content {
	margin: 14px 0 0;
	color: $text-color;
	font-size: 18px;
	line-height: 1.67;
}