
/* Body */

.order-storage-form .section-storage {
    padding: 70px 0 0;
}

.tpl-pages-pricing {
    .section-storage {
        &.blocked {
            .postal_code-form {
                top: 1%;

                @media (max-width: $screen-xs-max) {}
                @media (min-width: $screen-sm-min) {
                    top: 10%;
                }
                @media (min-width: $screen-md-min) {}
                @media (min-width: $screen-lg-min) {}
            }
        }
    }
}

.postal_code-form {
    pointer-events: none;

    &.initialized {
        pointer-events: auto;
    }
}

.section-storage {
    position: relative;

    &::before {
        background-color: #fff;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        @include transition(visiblity 0s linear .5s, opacity .3s ease-in-out);
        visibility: hidden;
        width: 100%;
        z-index: 100;
    }

    .postal_code-form,
    .storing-duration {
        @include transition(visiblity 0s linear .5s, opacity .3s ease-in-out);
    }

    .postal_code-form {
        opacity: 0;
        position: absolute;
        visibility: hidden;
    }

    .storing-duration {
        border: 2px solid #f2f2f2;
        opacity: 1;
        visibility: visible;
    }

    &.blocked {
        overflow: hidden;

        &::before {
            opacity: .6;
            visibility: visible;
        }

        .postal_code-form {
            left: 15px;
            opacity: 1;
            right: 15px;
            top: 15%;
            visibility: visible;
            z-index: 200;

            > div {
                background-color: #fff;
                border-radius: 5px;
                box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
                margin: 0 auto;
                padding: 15px;

                h4 {
                    padding: 20px;
                }

                .form-group {
                    margin-bottom: 0;

                    .error {
                        margin-top: 15px;
                    }
                }
            }

            @media (max-width: $screen-xs-max) {}
            @media (min-width: $screen-sm-min) {
                left: 50%;
                margin-left: -225px;
                top: 30%;
                width: 450px;
            }
            @media (min-width: $screen-md-min) {}
            @media (min-width: $screen-lg-min) {}
        }

        .storing-duration {
            opacity: 0;
            position: absolute;
            visibility: hidden;
        }

        h2,
        .carousel-plans .carousel-nav,
        .carousel-plans .carousel-content,
        .plans-detail {
            z-index: 100;
        }

        .carousel-plans .carousel-content .owl-wrapper-outer {
            opacity: .4;
            pointer-events: none;
        }
        .carousel-plans .carousel-content .owl-controls {}

        h2,
        .carousel-plans .carousel-nav,
        .plans-detail {
            position: relative;
        }

        .plan .select-plan .btn,
        .calculator .btn {
            @extend .disabled;
        }
    }
}

.order-storage-form h1, .order-storage-form h2 {
    margin: 0 0 48px;
    color: $text-color;
    font-size: 36px;
    font-weight: 300;
}

.storage-supplies {
    margin: 35px 0 0;

    &.has-error {
        .item {
            label {
                color: $state-danger-text;

                svg {
                    [id="0_calculator"] {
                        stroke: $state-danger-border;
                    }
                }
            }
        }
    }

    .title {
        margin-bottom: 25px;
        font-size: 22px;
        font-weight: 500;
    }

    .item {
        display: inline-block;
        vertical-align: bottom;
        margin: 0 18px;

        @media screen and (max-width: $screen-xs-max) {
            display: block;
            margin: 20px 0;
            text-align: left;
        }
    }

    @media (max-width: $screen-xs-max) {
        .item {
            text-align: center;
        }
    }
    @media (min-width: $screen-sm-min) {}
    @media (min-width: $screen-md-min) {}
    @media (min-width: $screen-lg-min) {}
}

.order-storage-form .carousel-plans {
    margin: 40px auto;
    
    &.loading {
        .carousel-nav {
            visibility: hidden;
        }
    }
}

.order-storage-form #carousel-plans-mobile {
    width: 250px;
}

.order-storage-form #carousel-plans-mobile .carousel-control {
    top: 150px;
    width: 18px;
}

.order-storage-form #carousel-plans-mobile .carousel-control.left {
    left: -30px;
}

.order-storage-form #carousel-plans-mobile .carousel-control.right {
    right: -30px;
}

.order-storage-form .carousel-plans .carousel-indicators {
    position: static;
    display: inline-block;
    width: auto;
    margin: 0 0 56px;
    border-radius: 23px;
    background: #e6e6e6;
}

.order-storage-form .carousel-plans .carousel-indicators li {
    width: 125px;
    height: 43px;
    line-height: 43px;
    margin: 0;
    border: 0;
    border-radius: 23px;
    color: $text-color;
    text-indent: 0;
    font-size: 22px;
}

.order-storage-form .carousel-plans .carousel-indicators .active {
    background: #fff;
}

.order-storage-form .carousel-plans .carousel-control {
    top: 280px;
    bottom: auto;
    width: 27px;
    height: 46px;
    opacity: 100;
    filter: alpha(opacity=100);
    background: none no-repeat center center / 100% auto;
}

.order-storage-form .carousel-plans .carousel-control > * {
    display: none;
}

.order-storage-form .carousel-plans .carousel-control.left {
    left: -60px;
    background-image: url('../img/order/storage/picto-arrow-left.png');
}

.order-storage-form .carousel-plans .carousel-control.right {
    right: -60px;
    background-image: url('../img/order/storage/picto-arrow-right.png');
}

.order-storage-form .carousel-plans .plans {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 0 2px;
}


.plan {
    background: #fff;
    border: 1px solid #f2f2f2;
    display: block;
    margin: 0 auto;
    padding: 31px 43px;

    /*.price, .price-discount {
        span {
            font-weight: bold;
        }
    }*/

    &.discount {
        .price {
            font-size: 18px;
            opacity: .8;
            text-decoration: line-through;
        }
        .price-discount {
            display: block;
        }
    }

    .image {
        margin-bottom: 17px;

        img {
            margin: auto;
        }
    }

    .name {
        margin: 17px 0 2px;
        color: $text-color;
        font-size: 22px;
        font-weight: 500;
    }

    .price {
        margin: 2px 0 17px;
        color: $text-color;
        font-size: 22px;
        font-weight: 300;
    }

    .price-discount {
        display: none;
        margin: 0;
        color: $text-color;
        font-size: 22px;
        font-weight: 300;
    }

    .select-plan {
        margin: 17px 0 0;

        label {
            color: #fff;
        }
    }

    @media (max-width: $screen-xs-max) {
        max-width: 300px;
    }
    @media (min-width: $screen-sm-min) {}
    @media (min-width: $screen-md-min) {}
    @media (min-width: $screen-lg-min) {}
}

.order-storage-form .calculator {
    display: table;
    width: 100%;
    margin: 48px 0 42px;
    border: 1px solid #f2f2f2;
    background: #fff;
    text-align: left;

    > div {
        display: table-cell;
        vertical-align: middle;
        padding: 40px;
    }

    .title {
        margin: 0;
        color: $text-color;
        font-weight: 500;
    }

    .content {
        margin: 0;
        color: $text-color;
        font-size: 18px;
    }

    .button {
        margin: 0;
        text-align: right;
    }

    @media (max-width: $screen-xs-max) {
        .button {
            .btn {
                display: block;
                width: 100%;
            }
        }
    }
    @media (min-width: $screen-sm-min) {}
    @media (min-width: $screen-md-min) {}
    @media (min-width: $screen-lg-min) {}
}

.order-storage-form .plans-detail {
    //margin: 42px 0 65px;
    text-align: left;

    .include,
    .contact {}

    .contact {
        .title {
            color: $text-color;
            font-weight: 500;
            margin: 0 0 16px;
        }

        .content {
            color: $text-color;
            font-size: 18px;
            margin: 16px 0 6px;
        }

        .phone {
            background: url('../img/order/storage/group.png') no-repeat center left;
            color: $text-color;
            font-weight: 500;
            margin: 6px 0 0;
            padding: 4px 0 4px 32px;

            a {
                font-size: 18px;
            }
        }
    }

    .include {
        .title {
            color: $text-color;
            font-weight: 500;
            margin: 0 0 16px;
        }

        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;

            li {
                color: $text-color;
                display: block;
                font-size: 16px;
                margin-bottom: 5px;
                vertical-align: top;

                &:before {
                    color: #4bca84;
                    content: '✓';
                    display: inline-block;
                    font-weight: bold;
                    margin-right: 14px;
                }
            }
        }
    }

    @media (max-width: $screen-xs-max) {}
    @media (min-width: $screen-sm-min) {
        .include {
            ul {
                li {
                    font-size: 18px;
                    margin-bottom: 10px;
                    width: 50%;
                }
            }
        }
    }
    @media (min-width: $screen-md-min) {}
    @media (min-width: $screen-lg-min) {}
}

.section-storage-confirmation {
    background: #fff;
    bottom: 0;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
    display: table;
    left: 0;
    padding: 0;
    position: fixed;
    table-layout: fixed;
    width: 100%;
    z-index: 2;

    .resume {
        background: $brand-primary;
        color: #fff;
        display: block;
        padding: 20px 25px;
        position: relative;
        text-align: center;
        vertical-align: top;
        width: 100%;

        .close {
            display: block;
            float: none;
            font-weight: normal;
            height: 16px;
            opacity: 1;
            position: fixed;
            right: 10px;
            text-shadow: none;
            top: 93px;
            width: 16px;

            &:before,
            &:after {
                background-color: #fff;
                content: '';
                height: 21px;
                left: 6px;
                position: absolute;
                top: -3px;
                width: 2px;
            }

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }

            @media (max-width: $screen-xs-max) {}
            @media (min-width: $screen-sm-min) {
                display: none;
                position: absolute;
                top: 13px;
            }
            @media (min-width: $screen-md-min) {}
            @media (min-width: $screen-lg-min) {}
        }

        .title {
            display: inline-block;
            font-size: 18px;
            font-weight: 500;
            margin: 0;
        }

        .total {
            margin: 8px 0 0;
            font-size: 36px;
            font-weight: 300;

            @media screen and (max-width: $screen-xs-max) {
                display: inline-block;
                margin: 0;
                font-size: 18px;
            }
        }

        .items {
            font-size: 14px;
            font-weight: 500;
            list-style: none;
            margin: 10px 0;
            max-height: 100px;
            overflow-y: scroll;
            padding: 0;
        }

        @media (max-width: $screen-xs-max) {}
        @media (min-width: $screen-sm-min) {
            display: table-cell;
            padding: 56px 73px 44px;
            text-align: left;
            width: 330px;

            .title {
                display: block;
                font-size: 22px;
            }

            .items {
                margin: 15px 0;
            }
        }
        @media (min-width: $screen-md-min) {
            width: 400px;
        }
        @media (min-width: $screen-lg-min) {}
    }

    .plan {
        display: block;
        min-height: 350px;
        margin-bottom: 40px;
        margin-top: 40px;
        padding: 10px 15px;
        text-align: left;
        vertical-align: top;
        width: 100%;

        .wrapper {
            display: table;
            vertical-align: top;
            margin: auto;

            .description {
                display: block;
                width: 100%;

                .title {
                    margin: 0;
                    color: $text-color;
                    font-size: 22px;
                    font-weight: 500;
                }

                .name {
                    margin: 8px 0 0;
                    color: $brand-primary;
                    font-size: 36px;
                    font-weight: 300;

                    @media screen and (max-width: $screen-xs-max) {
                        font-size: 26px;
                    }
                }

                .include {
                    margin: 41px 0 0;
                    font-size: 22px;
                    font-weight: 500;
                    color: $text-color;

                    @media screen and (max-width: $screen-xs-max) {
                        margin: 10px 0 0;
                    }
                }

                .assets {
                    font-size: .9em;
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    li {
                        display: inline-block;
                        vertical-align: top;
                        //width: 50%;
                        margin: 11px 0 0 0;
                        color: $text-color;

                        &:before {
                            content: '✓';
                            display: inline-block;
                            vertical-align: top;
                            width: 20px;
                            height: 20px;
                            line-height: 19px;
                            margin-right: 10px;
                            border: 1px solid #4bca84;
                            border-radius: 20px;
                            color: #4bca84;
                            font-size: 14px;
                            text-align: center;
                        }

                        @media screen and (max-width: $screen-xs-max) {
                            display: block;
                            width: 100%;
                        }
                    }

                    @media screen and (max-width: $screen-xs-max) {
                        text-align: left;
                    }
                }

                @media (max-width: $screen-xs-max) {}
                @media (min-width: $screen-sm-min) {}
                @media (min-width: $screen-md-min) {
                    display: table-cell;
                    margin-bottom: 10px;
                    vertical-align: middle;
                    width: 600px;
                }
                @media (min-width: $screen-lg-min) {}
            }

            .price-wrapper {
                border-radius: 5px;
                border: solid 1px #e6e6e6;
                display: block;
                margin-top: 30px;
                padding: 30px 0;
                text-align: center;
                width: 100%;

                .price, .price-discount {
                    span {
                        font-weight: bold;
                    }
                }

                .price {
                    margin: 0;
                    color: $brand-primary;
                    font-size: 36px;
                }

                .price-discount {
                    display: none;
                    margin: 0;
                    color: $brand-primary;
                    font-size: 36px;
                }

                .submit-wrapper {
                    margin: 10px 0 0;
                }

                &.discount {
                    .price {
                        color: $gray-light;
                        font-size: 28px;
                        text-decoration: line-through;
                    }

                    .price-discount {
                        display: block;
                    }
                }

                @media (max-width: $screen-xs-max) {}
                @media (min-width: $screen-sm-min) {}
                @media (min-width: $screen-md-min) {
                    display: table-cell;
                    padding: 50px;
                    vertical-align: middle;
                    width: auto;

                    .submit-wrapper {
                        margin: 30px 0 0;
                    }
                }
                @media (min-width: $screen-lg-min) {}
            }

            @media screen and (max-width: $screen-xs-max) {
                display: block;
                text-align: center;
            }
        }

        @media (max-width: $screen-xs-max) {}
        @media (min-width: $screen-sm-min) {
            display: table-cell;
            margin-bottom: 0;
            margin-top: 0;
            padding: 56px 30px 44px;
            width: auto;
        }
        @media (min-width: $screen-md-min) {}
        @media (min-width: $screen-lg-min) {}
    }

    @media (max-width: $screen-xs-max) {
        top: 82px;
        display: block;
        overflow: auto;
    }
    @media (min-width: $screen-sm-min) {}
    @media (min-width: $screen-md-min) {}
    @media (min-width: $screen-lg-min) {}
}

@media screen and (max-width: $screen-xs-max) {
    .order-storage-form .carousel-plans .carousel-indicators {
        display: none;
    }

    .order-storage-form .calculator,
    .order-storage-form .calculator > div,
    .order-storage-form .plans-detail,
    .order-storage-form .plans-detail .include,
    .order-storage-form .plans-detail .contact,
    .order-storage-form .plans-detail .include li {
        display: block;
    }

    .order-storage-form .calculator > div {
        padding: 20px;
    }

    .order-storage-form .calculator .button .btn {
        padding: 10px 15px;
        font-size: 16px;
    }

    .order-storage-form .plans-detail .include {
        margin-bottom: 20px;
    }

    .order-storage-form .plans-detail .include li {
        width: 100%;
    }

    .order-storage-form .plans-detail .contact {
        width: 100%;
    }
}
